@{
    ViewData["Title"] = "Home Page";
}


<header class="header">
    <div class="container pt-sm-5">
        <div class="heading-primary">
            Reserva de la Biosfera <br />
            EL TRIUNFO, CHIAPAS
        </div>
    </div>
</header>

<!-- Aquí comienza el cuerpo principal de la página -->
<div class="container">
    <div class="image-section">
        <img src="~/imagenes/tucanes.jpg" alt="Fauna" class="full-width" />
    </div>
    
</div>
